{% extends "footer.html" %}
{% block content %}
<section class="blog  my-5">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<!-- Section heading -->
				<h2 class="h1-responsive  mb-5">Recent posts</h2>
				{% load tags %}
				{% define 0 as num %}
				{% for post in posts %}
				{% mod_res num as res %}
				{% if res == 1 %}
				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-lg-7">

						<!-- Category -->
						<a href="#!" class="pink-text">
							<h6 class="font-weight-bold mb-3"><i class="fas fa-newspaper pr-2"></i>News</h6>
						</a>
						<!-- Post title -->
						<h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
						<!-- Excerpt -->
						<p>{{post.small_description}}
						</p>
						<!-- Post data -->
						<p>by <a><strong>Morphex Team</strong></a>, {{post.date}}</p>
						<!-- Read more button -->
						<a class="btn btn-pink btn-md mb-lg-0 mb-4" href="/view/{{post.slug}}">Read more</a>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-lg-5">

						<!-- Featured image -->
						<div class="view overlay rounded z-depth-2">
							<img class="img-fluid" src="/{{post.image}}" alt="Sample image">
							<a>
								<div class="mask rgba-white-slight"></div>
							</a>
						</div>

					</div>
					<!-- Grid column -->

				</div>
				<hr class="my-5">
				<br>
				<br>

				{% else %}

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-lg-5">

						<!-- Featured image -->
						<div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
							<img class="img-fluid" src="{{post.image}}" alt="Sample image">
							<a>
								<div class="mask rgba-white-slight"></div>
							</a>
						</div>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-lg-7">

						<!-- Category -->
						{% if res == 0 %}
						<a href="#!" class="green-text">
						{% else %}
						<a href="#!" class="indigo-text">

						{% endif %}

							<h6 class="font-weight-bold mb-3"><i class="fas fa-newspaper pr-2"></i>News</h6>
						</a>
						<!-- Post title -->
						<h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
						<!-- Excerpt -->
						<p>{{post.small_description}}</p>
						<!-- Post data -->
						<p>by <a><strong>Morphex Team</strong></a>, {{post.date}}</p>
						<!-- Read more button -->
						<a class="btn btn-success btn-md" href="/view/{{post.slug}}">Read more</a>

					</div>
					<!-- Grid column -->
					<hr class="my-5">
					<br>
					<br>
					{% endif %}
					{% increment num as num %}
					{%  endfor %}

				</div>

				


				

				
				<!-- Grid row -->
			</div>
			<div class="col-4">
				<h4 class="mb-3">Popular Posts</h4>
				<hr>
				<!-- Small news -->
				{% for pop  in populars %}
				<div class="single-news mb-4">

					<!-- Grid row -->
					<div class="row">

						<!-- Grid column -->
						<div class="col-md-3">

							<!--Image-->
							<div class="view overlay rounded z-depth-1 mb-4">
								<img class="img-fluid" src="{{pop.image}}" alt="Sample image">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-9">

							<!-- Excerpt -->
							<p class="font-weight-bold dark-grey-text">{{pop.date}}</p>
							<div class="d-flex justify-content-between">
								<div class="col-11 text-truncate pl-0 mb-3">
									<a href="#!" class="dark-grey-text">{{pop.title}}</a>
								</div>
								<a><i class="fas fa-angle-double-right"></i></a>
							</div>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row -->

				</div>
				<!-- Small news -->
				{% endfor %}

				


				<h4 class="mb-3 mt-5">Tags</h4>
				<hr>



				<div class="tagcloud03">
					<ul> 
						{% for tag in tags %}
						<li><a href="#">{{tag.name}} </a></li>
						{% endfor %}
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}