{% extends "footer.html" %}
{% block content %}
<section class="blog  my-5">
        <div class="container">
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-7 col-md-12">

                    <!-- Featured news -->
                    <div class="single-news mb-lg-0 mb-4">

                        <!-- Image -->
                        <div class="view overlay rounded z-depth-1-half mb-4">
                            <img class="img-fluid" src="{{post.image}}" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Data -->
                        <div class="news-data d-flex justify-content-between">
                            <a href="#!" class="deep-orange-text">
                                <h6 class="font-weight-bold"><i class="fas fa-newspaper pr-2"></i>News</h6>
                            </a>
                            <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>{{post.date}}</p>
                        </div>

                        <!-- Excerpt -->
                        <h3 class="font-weight-bold dark-grey-text mb-3"><a>{{post.title}}</a></h3>
                        <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{% autoescape off%}{{post.content}} {% endautoescape %}</p>

                    </div>
                    <!-- Featured news -->

                    

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-12">

                    <h4 class="mb-3">Popular Posts</h4>
                    <hr>
                    <!-- Small news -->
				{% for pop  in populars %}
				<div class="single-news mb-4">

					<!-- Grid row -->
					<div class="row">

						<!-- Grid column -->
						<div class="col-md-3">

							<!--Image-->
							<div class="view overlay rounded z-depth-1 mb-4">
								<img class="img-fluid" src="{{pop.image}}" alt="Sample image">
								<a href='/view/{{pop.slug}}'>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-9">

							<!-- Excerpt -->
							<p class="font-weight-bold dark-grey-text">{{pop.date}}</p>
							<div class="d-flex justify-content-between">
								<div class="col-11 text-truncate pl-0 mb-3">
									<a href="/view/{{pop.slug}}" class="dark-grey-text">{{pop.title}}</a>
								</div>
								<a href='/view/{{pop.slug}}'><i class="fas fa-angle-double-right"></i></a>
							</div>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row -->

				</div>
				<!-- Small news -->
				{% endfor %}


                    <h4 class="mb-3 mt-5">Tag</h4>
                    <hr>



                    <div class="tagcloud03">
                        <ul>
                            <li><a href="#">{{post.tag}} </a></li>
                            
                        </ul>
                    </div>



                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->
        </div>
	</section>
	
	{% endblock %}