{% extends "footer.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-add.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function() {
                var location = $('#rd-navbar-search-form-control').val();
                window.location.href = "/transaction/" + location;
                return false;
            });
        });
    </script>
</head>

<body>
    <div class="page text-center">
        <header class="page-head">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-default rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                            <div class="rd-navbar-brand">
                                <a href="/"><img style="margin-top: -5px;margin-left: -15px;" width="180" height="60" src="/assets/img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-mobile-scroll">
                                    <div class="rd-navbar-mobile-brand">
                                        <a href="index.html"><img style="margin-top: -5px;margin-left: -15px;" width="138" height="60" src="/assets/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="form-search-wrap">
                                        <form class="form-search rd-search" action="search-results.html" method="GET">
                                            <div class="form-group">
                                                <label class="form-label form-search-label form-label-sm" for="rd-navbar-form-search-widget">Search</label>
                                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                                            </div>
                                            <button class="form-search-submit" type="submit"><span class="novi-icon mdi mdi-magnify"></span></button>
                                        </form>
                                    </div>
                                    <ul class="rd-navbar-nav">
                                        <li><a href="/exchange"><span>Exchange</span></a></li>
                                        <li><a href="/how-it-works"><span>How it works</span></a></li>
                                        <li><a href="/checkup"><span>Checkup</span></a></li>
                                        <li><a href="/blog"><span>Blog</span></a></li>
                                        <li><a href="/faq"><span>FAQ</span></a></li>
                                        <li><a href="/contact"><span>Contact</span></a></li>
                                        <li><a href="#" data-toggle="dropdown" data-close-others="true"><span>Language</span><a class="paddingImages"><img src="/assets/img/flag-uk.png"></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="/?clang=de"><img src="/assets/img/flag-de.png"><span class="dropElement">Deutsch</span></a>
                                                </li>
                                                <li class="active">
                                                    <a href="/?clang=en"><img src="/assets/img/flag-uk.png"><span class="dropElement">English</span></a>
                                                </li>
                                                <li>
                                                    <a href="/?clang=fr"><img src="/assets/img/flag-fr.png"><span class="dropElement">François</span></a>
                                                </li>
                                                <li>
                                                    <a href="/?clang=es"><img src="/assets/img/flag-es.png"><span class="dropElement">Español</span></a>
                                                </li>
                                            </ul>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="section novi-background">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-xl-8">
                        <section>
                            <article class="post post-default text-left">
                                <div class="header post-header">
                                    <ul class="post-controls list-inline list-inline-sm p text-dark">
                                        <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-clock"></span>
                                            <time class="text-middle small" datetime="2019-01-01">{{post.date}}</time>
                                        </li>
                                        <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-account-outline"> </span><span class="text-middle small">morphex Team</span></li>
                                    </ul>
                                    <h3 class="post-title"><a href="/view/{{post.slug}}">{{post.title}}</a></h3>
                                    <div class="post-media offset-top-34">
                                        <header class="post-media">
                                            <div data-lightgallery="group">
                                                <a class="thumbnail-classic" href="/view/{{post.slug}}" target="_self">
                                                    <figure><img width="570" height="321" src="/{{post.image}}" alt=""></figure>
                                                </a>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                                <section class="post-content offset-top-41">
                                    <p>{{post.content}}</p>
                                </section>
                            </article>
                            <footer class="offset-top-50 text-md-left clearfix">
                                <h6 class="pull-sm-left">Share this post:</h6>
                                <ul class="list-inline small pull-sm-right p offset-top-0 text-md-right">
                                    <li class="list-inline-item">
                                        <a class="fa novi-icon fa-facebook" href="#"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="fa novi-icon fa-twitter" href="#"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="fa novi-icon fa-google-plus" href="#"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="fa novi-icon fa-pinterest" href="#"></a>
                                    </li>
                                </ul>
                            </footer>
                            <hr class="hr offset-top-66">
                            <div class="offset-top-66"></div>
                        </section>
                    </div>
                </div>
            </div>
		</section>
		{% endblock %}
        