{% extends 'footer.html' %}
{% block content %}
<section class="allposts mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="font-weight-bold">Settings</h4>
                    <div class="row">
                        <div class="my-3 col-4">
                            <label>Start/Stop Payments</label>
                            <form>
                                <div class="input-group">
                                    <select class="browser-default custom-select" id="inputGroupSelect04">
                                      <option value="1">Start</option>
                                      <option value="2">Stop</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect" type="button">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="my-6 col-8">
                        <form style='width:100%'>
                        
                            <label>Enable /Disable Single Coins</label>
                            
                                <div class="input-group">
                                    <select class="browser-default custom-select" id="inputGroupSelect04">
                                              <option value="BTC">BTC</option>
                                              <option value="ETH">ETH</option>
                                        <option value="BCH">BCH</option>
                                        <option value="LTC">LTC</option>
                                        <option value="XMR">XMR</option>
                                            </select>
                                    
                                </div>
                            <br>
                            
                        
                            
                            
                                <div class="input-group">
                                    <select class="browser-default custom-select" id="inputGroupSelect04">
                                              <option value="1">Enable</option>
                                              <option value="2">Disable</option>
                                            </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect" type="button">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                            
                    </div>
                    <div class="row">
                        <div class="my-3 col-6">
                            <label>Change Service Fee</label>
                            <form>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Service Fee">
                                    <div class="input-group-append">
                                        <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="button-addon2">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="my-3 col-6">
                            <label>Change Minimum payment</label>
							<form action='/settings/changemin' method='post'>
								{% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Minimum Payment" name='min'>
                                    <div class="input-group-append">
                                        <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" id="button-addon2" >Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="my-3 col-6">
                            <label>Change Maximum Payment</label>
                            <form action='/settings/changemax'
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Maximum Payment"  name='max'>
                                    <div class="input-group-append">
                                        <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect" type='submit'  id="button-addon2" >Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}