@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
    font-family: Montserrat;
    color: #1d1d1b;
}

.navbar {
    padding: .0rem 1rem;
    box-shadow: none !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #2f2929;
    font-size: 13px;
    transition: .3s all ease;
    font-weight: 600;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #2f2929;
    transition: .3s all ease;
    border-bottom: 2px solid #34b2aa;
}

.navbar .dropdown-menu a {
    color: #2f2929;
    font-size: 13px;
    transition: .3s all ease;
    font-weight: 600;
}

.header-border-img>img {
    width: 100%;
}

.pill-active {
    color: #2f2929 !important;
    text-decoration: underline !important;
    font-weight: 600 !important;
}

.pill-inactive {
    color: #869a8f !important;
    font-weight: 500 !important;
    cursor: default !important;
}


/******* SELECT COINS *********/

.h1-header {
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-header {
    font-weight: 500;
    text-align: center;
}

.custom-select-lg {
    font-size: 1rem;
}

.fa-exchange-alt {
    opacity: 0.75;
}

.section-title {
    font-weight: 500;
    text-align: center !important;
}

.stats-number {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats-text {
    font-size: 1rem;
    font-weight: 500;
}

.jumbotron {
    padding: 0rem;
    width: 100%;
}

.btn-success {
    background-color: #42b574 !important;
    border-color: #42b574 !important;
}

.angle {
    color: #495057 !important;
    font-size: 1rem !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    box-shadow: none !important;
    text-align: left !important;
    text-transform: capitalize !important;
}

.angle::after {
    display: none;
}

.dropdown-menu {
    width: 100% !important;
}

.green-text {
    color: #42b574 !important;
}


/* Tag cloud */

.tagcloud03 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tagcloud03 ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}

.tagcloud03 ul li a {
    position: relative;
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 2.5em 0 1em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}


/* Tag Cloud */


/* Loader */


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #033a1b;
    border-radius: 50%;
    border-top: 16px solid #42b574;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* Loader */


/* .list-unstyled {
    padding-left: 20px;
    list-style: disc;
} */

.list-unstyled li:before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #42b574;
    margin-top: 10px;
}

footer.page-footer a {
    color: #fff;
    margin-left: 10px;
}

.list-unstyled li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}