{% extends "footer.html" %}
{% block content %}



<section class="faq">
	<div class="container py-3">
		<div class="row">
			<div class="col-12">
				<h1 class="section-title mb-5">Contact Us</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-8 mx-auto">
				<!-- Default form subscription -->
				<form class="text-center border border-light p-5" id='contact' action="/sendmail">

					<p class="h4 mb-4">How are you doing?</p>

					<p>Contact morphex to give feedback or access customer support.. If you need assistance with an exchange, please include the transaction ID number in your message</p>

					<!-- Name -->
					<input type="text"  id="contact-me-name" name="name" class="form-control mb-4" placeholder="Name">
					<input type="text"  id="contact-me-id" name="idd" class="form-control mb-4" placeholder="Transaction ID">

					<!-- Email -->
					<input type="email"  id='contact-me-email' name='email' class="form-control mb-4" placeholder="E-mail">

					<div class="form-group">
						<textarea class="form-control rounded-0" name='content' id="contact-me-message" rows="3" placeholder="Message"></textarea>
					</div>

					<!-- Sign in button -->
					<button class="btn btn-success btn-block" type="submit">Send Message</button>


				</form>
				<!-- Default form subscription -->
			</div>
		</div>
		<!--/row-->
	</div>
	<!--container-->

</section>


{% endblock %}