{% extends "footer.html" %}
{% block content %}
<section class="exchange">
	<div class="container">
		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-12 col-lg-12 col-xl-12">

				<ul class="nav md-pills nav-justified ">
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Select Coins <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Transaction Info <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pill-active" data-toggle="tab" role="tab">
				Awaiting Deposit <img class="img-fluid" width="30" height="30" src="/assets/img/loading.gif" alt="">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Exchanging <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Finish <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!--Panel 1-->
					<div class="tab-pane fade in show active" role="tabpanel">

						<div class="my-5">
							<div class="row">
								<div class="col-md-5 my-3">
									<img src="/assets/img/animation.gif" class="img-fluid z-depth-1" alt="morphex">
								</div>
								<div class="col-md-7 my-3">
									<div class="table-responsive">
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td>Your transaction ID (Please save)</td>
													<td>
														<span> <span id="copytext">{{id}}</span> ({{in_c}}/{{out_c}})</span>
														<a data-clipboard-target="#copytext" class="float-right copy-text">
															<i class="fas fa-clipboard-list"></i>
														</a>
													</td>
												</tr>
												<tr>
													<td>Please deposit xxx to this address</td>
													<td>
														<span id="copytext2">{{sys_add}}</span>
														<a data-clipboard-target="#copytext2" class="float-right copy-text">
															<i class="fas fa-clipboard-list"></i>
														</a>
													</td>
												</tr>
												<tr>
													<td>QR Code</td>
													<td><div class='qrcode'></div></td>
												</tr>
												<tr>
													<td>Status</td>
													<td>{{status}}</td>
												</tr>
												<tr>
													<td>Receiving address xxx</td>
													<td>
														<span id="copytext3">{{rec_add}}</span>
														<a data-clipboard-target="#copytext3" class="float-right copy-text">
															<i class="fas fa-clipboard-list"></i>
														</a>
													</td>
												</tr>
												<tr>
													<td>Refund address xxx</td>
													<td>
														<span id="copytext4">{{ref_add}}</span>
														<a data-clipboard-target="#copytext4" class="float-right copy-text">
															<i class="fas fa-clipboard-list"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
							</div>
						</div>

					</div>
					<!--/.Panel 1-->

				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->
	</div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/assets/js/jquery.qrcode.min.js"></script>
        <script>
            new ClipboardJS('.cpyTxt');
        </script>
        <script type="text/javascript">
            $('.qrcode').qrcode({
                width: 125,
                height: 125,
                text: "{{sys_add}}"
            });
		</script>
{% endblock %}