{% extends "footer.html" %}
{% block content %}
<section class="exchange">
	<div class="container">
		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-12 col-lg-12 col-xl-12">

				<ul class="nav md-pills nav-justified ">
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Select Coins <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pill-active" data-toggle="tab" role="tab">
				Transaction Info <img class="img-fluid" width="30" height="30" src="/assets/img/loading.gif">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Awaiting Deposit <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Exchanging <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
					<li class="nav-item d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
				Finish <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
			</a>
					</li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">
					{% csrf_token %}

					<!--Panel 1-->
					<div class="tab-pane fade in show active" role="tabpanel">

						<div class="row my-5  col-12 ">
							<div class="col-md-4">

								<label>You send (min. amount: {{min1}})</label>
								<div class="input-group input-group-lg mb-4">
									<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-lg">
									<img  src="/assets/img/coins/{{c_in}}.png">
								</span>
							</div>
							<input type="text" class="form-control" id =  'income' value="Bitcoin">
								</div>

								<label>You receive </label>
								<div class="input-group input-group-lg mb-4">
									<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-lg">
									<img  src="/assets/img/coins/{{c_out}}.png">
								</span>
							</div>
							<input type="text" class="form-control" id='outgo' value="Monero">
								</div>

							</div>

							<div class="col-md-8">

								<label>
									Refund address
										<a  class="fa fa-question-circle"
											data-toggle="tooltip"
											data-placement="right"
											title="For your refund address, please enter an address for your original currency. This is where morphex will send your coins back if something goes wrong with your exchange. For example, if you are exchanging BTC for ETH, please enter a Bitcoin wallet here." >
										</a>
								</label>
								<input type="text" class="form-control  form-control-lg mb-4" placeholder="Your {{c_in}} refund address" id='r_wallet'>

								<label>
									Receiving address
										<a  class="fa fa-question-circle"
											data-toggle="tooltip"
											data-placement="right"
											title="For your receiving address, please enter an address for the currency you would like to receive from the exchange. For example, if you are exchanging BTC for ETH, please enter an Ether address here." >
										</a>
								</label>
								<input type="text" class="form-control form-control-lg mb-4" placeholder="Your {{c_out}} receiving address" id='b_wallet'>

								<div class=" mb-4">
									<input type="checkbox" name="terms">
									<label>
									I agree to the <a class="text-success" href="/terms" target="_blank">terms and conditions</a>
								</label>
								</div>
								
								<div class="alert alert-danger" role="alert" style='display:none;' id='error'>
									A simple danger alert—check it out!
									</div>
								
								<div class="mx-0">
									<button class="btn btn-success my-2"  id='target'>Start Exchange</button>
									<a href='/'><button class="btn btn-light my-2" type="submit">Go Back</button></a>
								</div>
							</div>
						</div>

					</div>
					<!--/.Panel 1-->

				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->
	</div>
</section>

{% endblock %}
{% block script %}
<script type="text/javascript">
	function hide(err){
		var err = document.getElementById('error');
		err.style.display = 'none'
	}
	function setMessage(message){
		var err = document.getElementById('error');
		err.innerHTML = message;
		err.style.display = 'block';
		setTimeout(hide,2000);
	}
	var token = jQuery("[name=csrfmiddlewaretoken]").val();
	console.log(token);
	
	$(document).ready(function() {
		var inc = '{{cur_in}}' ;
		var outc = '{{cur_out}}' ;
		var apilink = '{{api_link}}' ;
		$('#income').val(inc).change();
		$('#outgo').val(outc).change();
	});
	$("#target").click(function() {
		var inCurrency = $('#income').val();
		var outCurrency = $('#outgo').val();
		var returnAddress = $('#b_wallet').val();
		var refundAddress = $('#r_wallet').val();
		//alert(returnAddress + refundAddress);
		if ($('input[name="terms"]').is(":checked")) {
			if (returnAddress.length != 0 && refundAddress.length  != 0) {
				$.ajaxSetup({
				headers: {
					'X-CSRFToken':token
				}
			});
				
				$.post("{{api_link}}", {
						inCurrency: inCurrency,
						outCurrency: outCurrency,
						refundAddress: refundAddress,
						returnAddress: returnAddress
					})
					.done(function(data) {
						
						var data = JSON.parse(data)
						window.location.href = "/details/" + data.processId;
					})
					.fail(function(xhr, textStatus, errorThrown) {
						setMessage('The API rejected this Addresses!')
					})
			} else {
				setMessage('Please fill the forms.')
			}
		} else {
			setMessage('Please check the terms of conditions.')
		}
	});
</script>
{% endblock %}