{% extends "footer.html" %}
{% block content %}
<section class="faq">
	<div class="container py-3">
		<div class="row">
			<div class="col-12">
				<h1 class="section-title mb-5"> Frequently Asked Questions</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-10 mx-auto">
				<div class="accordion mb-5" id="faqExample">
					<div class="card">
						<div class="card-header p-2" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								  Q: What is morphex?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
							<div class="card-body">
								morphex is an automated instant cryptocurrency exchange committed to providing safe, anonymous cryptocurrency exchanges at the best crypto-to-crypto exchange rates available.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  Q: How does the exchanger work?
							</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#faqExample">
							<div class="card-body">
								morphex exchanges one digital asset for another. We maintain a presence on all major exchanges to give you the best possible rates in real-time. To use the exchanger, you can follow a few simple steps. First, choose the trade you want to make from the
								list of available currencies. Next, input a receiving address for the coins you want to receive and a refund address for the coin you will use to pay -- just in case. After that, make sure you agree to the terms of
								service and begin the exchange. You will receive a payment address for the coin you are trading, and you have 15 minutes to make a payment and complete the exchange. Once you've made a payment, you will receive your
								new coins in the currency you selected.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Does morphex require KYC?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								morphex will never collect any identifying information from our users to make an exchange, not even your email address. We are committed to providing a platform for fully anonymous cryptocurrency exchange.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Why trust morphex?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								Our developers are specialists with extensive blockchain experience. You do not need to provide any personal information to use our service, no passwords, nothing that attackers could use to gain access to your data. Our servers are under reliable protection
								and we use strong security protocols.All transactions are SSL protected to prevent interception of information, and morphex is protected from DDoS attacks.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Are there fees?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								morphex takes a service fee of .5% on all exchanges.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Why don't you have fixed exchange rates?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								The volatility of cryptocurrency markets means that exchange rates can change significantly at any moment. Morphex does not fix exchange rates to take advantage of market fluctuations, so we can always give our user the best possible rates.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Will there be more coins available in the future?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								We are actively adding coins to our exchanger, so keep checking back with us to see what’s new. If there’s a coin you’d like to see added, send us a message and let us know.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-2" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Q. Do you have an .onion address?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqExample">
							<div class="card-body">
								Yes, you can reach us via Tor at xxxxxxx.onion
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--/row-->
	</div>
	<!--container-->

</section>
{% endblock %}