{% extends 'footer.html' %}
{% block content %}
<section class="my-5">
	<div class="container py-3">
		<div class="row">
			<div class="col-12">
				<h1 class="section-title mb-5">How it works</h1>
			</div>
		</div>


		<div class="row">

			<!-- Card deck -->
			<div class="card-deck">

				<!-- Card -->
				<div class="card mb-4">

					<!--Card image-->
					<div class="view overlay">
						<img class="card-img-top" src="/assets/img/hiw/crypto-3.jpg" alt="Card image cap">
						<a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
					</div>

					<!--Card content-->
					<div class="card-body">


						<p class="card-text">
							morphex is an anonymous instant cryptocurrency exchange. We maintain a presence on all major exchanges to give you the best rates in real time, without ever requiring an account or collecting personal information about you.
						</p>


					</div>

				</div>
				<!-- Card -->

				<!-- Card -->
				<div class="card mb-4">

					<!--Card image-->
					<div class="view overlay">
						<img class="card-img-top" src="/assets/img/hiw/crypto-2.jpg" alt="Card image cap">
						<a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
					</div>

					<!--Card content-->
					<div class="card-body">


						<p class="card-text">Using morphex is simple and easy; just select the coins you'd like to exchange, enter your address, send us your coins and you're all set.</p>


					</div>

				</div>
				<!-- Card -->

				<!-- Card -->
				<div class="card mb-4">

					<!--Card image-->
					<div class="view overlay">
						<img class="card-img-top" src="/assets/img/hiw/crypto-1.jpg" alt="Card image cap">
						<a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
					</div>

					<!--Card content-->
					<div class="card-body">


						<p class="card-text">You'll receive your selected currency at the best rates without ever compromising your privacy by completing restrictive KYC protocols.</p>


					</div>

				</div>
				<!-- Card -->

			</div>
			<!-- Card deck -->

		</div>







	</div>
	<!--container-->
</section>
{% endblock %}