{% extends "footer.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>morphex - fast and anonymously crypto asset conversion</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-add.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#transactionForm').submit(function() {
                var location = $('#rd-navbar-form-search-widget').val();
                window.location.href = "/transaction/" + location;
                return false;
            });
            $('#contact').submit(function() {
                var name = $('#contact-me-name').val();
                var email = $('#contact-me-email').val();
                var message = $('#contact-me-message').val();
                window.location.href = '/send?name='+name+'&email='+email+'&message='+message;
            });
            $('#subscribe').submit(function() {
                var email = $('#subscribe-email').val();
                window.location.href = '/subscribe?email='+email
            });
        });
    </script>
</head>

<body>
    <div class="page text-center">
        <header class="page-head">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-default rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                            <div class="rd-navbar-brand">
                                <a href="/"><img style="margin-top: -5px;margin-left: -15px;" width="180" height="60" src="/assets/img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-mobile-scroll">
                                    <div class="rd-navbar-mobile-brand">
                                        <a href="index.html"><img style="margin-top: -5px;margin-left: -15px;" width="138" height="60" src="/assets/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="form-search-wrap">
                                        <form class="form-search rd-search" action="search-results.html" method="GET">
                                            <div class="form-group">
                                                <label class="form-label form-search-label form-label-sm" for="rd-navbar-form-search-widget">Search</label>
                                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                                            </div>
                                            <button class="form-search-submit" type="submit"><span class="novi-icon mdi mdi-magnify"></span></button>
                                        </form>
                                    </div>
                                    <ul class="rd-navbar-nav">
                                        <li><a href="/exchange"><span>Exchange</span></a></li>
                                        <li><a href="/how-it-works"><span>How it works</span></a></li>
                                        <li><a href="/checkup"><span>Checkup</span></a></li>
                                        <li><a href="/blog"><span>Blog</span></a></li>
                                        <li><a href="/faq"><span>FAQ</span></a></li>
                                        <li><a href="/contact"><span>Contact</span></a></li>
                                        <li><a href="#" data-toggle="dropdown" data-close-others="true"><span>Language</span><a class="paddingImages"><img src="/assets/img/flag-uk.png"></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="/?clang=de"><img src="/assets/img/flag-de.png"><span class="dropElement">Deutsch</span></a>
                                                </li>
                                                <li class="active">
                                                    <a href="/?clang=en"><img src="/assets/img/flag-uk.png"><span class="dropElement">English</span></a>
                                                </li>
                                                <li>
                                                    <a href="/?clang=fr"><img src="/assets/img/flag-fr.png"><span class="dropElement">François</span></a>
                                                </li>
                                                <li>
                                                    <a href="/?clang=es"><img src="/assets/img/flag-es.png"><span class="dropElement">Español</span></a>
                                                </li>
                                            </ul>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header><img src="/assets/img/bg.png" style="width:100%;">
        <main class="page-content">
            <div id="features" data-type="anchor">
                <section class="section novi-background section-66 section-md-top-110">
                    <div class="container" style="margin-top: -85px">
                        <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal" style="width: 100%;">
                            <ul class="resp-tabs-list tabs-1 text-center tabs-group-default">
                                <li class="resp-tab-item tabs-group-default tabh1 resp-tab-active" aria-controls="tabs-group-default_tab_item-2" role="tab">Select Coins <img class="img-fluid image1" width="30" height="30" src="/assets/img/loading.gif" alt=""></li>
                                <li class="resp-tab-item tabs-group-default tabh2" aria-controls="tabs-group-default_tab_item-2" role="tab">Transaction Info<img class="img-fluid image2" width="30" height="30" src="/assets/img/static.png" alt=""></li>
                                <li class="resp-tab-item tabs-group-default tabh3" aria-controls="tabs-group-default_tab_item-2" role="tab">Awaiting Deposit<img class="img-fluid" width="30" height="30" src="/assets/img/static.png" alt=""></li>
                                <li class="resp-tab-item tabs-group-default tabh4" aria-controls="tabs-group-default_tab_item-2" role="tab">Exchanging<img class="img-fluid" width="30" height="30" src="/assets/img/static.png" alt=""></li>
                                <li class="resp-tab-item tabs-group-default tabh5" aria-controls="tabs-group-default_tab_item-2" role="tab">Finish<img class="img-fluid" width="30" height="30" src="/assets/img/static.png" alt=""></li>
                            </ul>
                            <div class="resp-tabs-container text-left tabs-group-default">
                                <div class="tabnr1">
                                    <div class="row offset-md-top-66">
                                        <div class="col-md-8">
                                            <h1>Change the way you exchange!</h1>
                                            <h5 class="subtitleH5">Strictly anonymous crypto asset conversion</h5></div>
                                        <div class="col-md-4">
                                            <div class="form-content formImgBox">
                                                <div class="form-horizontal fromImgBoxContent">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-filter select-size" id="income" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">
                                                                <option value="NON">Send: select cryptocurrency</option>
                                                                <option value="BTC">Bitcoin </option>
                                                                <option value="BCH">Bitcoin Cash</option>
                                                                <option value="ETH">Ethereum</option>
                                                                <option value="XMR">Monero</option>
                                                                <option value="LTC">Litecoin</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group switchiconholder"><a href="javascript:void(0)"><span class="icon icon- icon-circle mdi mdi-cached icon-primary centericon" id="exchangeicon"></span></a></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-filter select-size" id="outgo" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">
                                                                <option value="NON">Receive: select cryptocurrency</option>
                                                                <option value="BTC">Bitcoin</option>
                                                                <option value="BCH">Bitcoin Cash</option>
                                                                <option value="ETH">Ethereum</option>
                                                                <option value="XMR">Monero</option>
                                                                <option value="LTC">Litecoin</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group boxElementGroup">
                                                        <div class="col-sm-offset-2 col-sm-12">
                                                            <button class="btn btn-primary mr-10 btn-block" id="next" type="submit">Exchange</button>
                                                            <div class="errormessage"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $('#exchangeicon').click(function() {
                                    var inCurrency = $('#income').val();
                                    var outCurrency = $('#outgo').val();
                                    $('#income').val(outCurrency);
                                    $('#outgo').val(inCurrency);
                                    $('#income').trigger('change');
                                    $('#outgo').trigger('change');
                                })
                                $("#next").click(function() {
                                    var inCurrency = $('#income').val();
                                    var outCurrency = $('#outgo').val();
                                    if (inCurrency == outCurrency && inCurrency != 'NON') {
                                        $('.errormessage').text('You cannot exchange that! Use a mixer')
                                    } else {
                                        if (inCurrency != 'NON' && outCurrency != 'NON') {
                                            window.location.href = "/exchange?in=" + inCurrency + "&out=" + outCurrency;
                                        } else {
                                            $('.errormessage').text('Please choose a Currency')
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </section>
                <section class="bg-gray-lighter section-relative section-65 section-lg-top-0 section-lg-bottom-100">
                    <div class="container offset-lg-top-60">
                        <h2>HARRO!!!</h2>
                        <div class="row justify-content-sm-center">
                            <div class="col-sm-10 col-md-6 col-lg-4"><span class="icon icon-lg icon-circle mdi mdi-ghost icon-primary"></span>
                                <h4>Anonymous </h4>
                                <p class="inset-md-left-15 inset-md-right-15">The only information we will ever ask of you is your receiving address. No registration or verification required, and no KYC! At morphex you can delete your transaction ID right away, , so you never have to worry about third parties getting your data.</p>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-4 offset-top-45 offset-md-top-0"><span class="icon icon-lg icon-circle mdi mdi-clock-fast icon-primary"></span>
                                <h4>Fast</h4>
                                <p class="inset-md-left-15 inset-md-right-15">At morphex our goal is to provide users with easy, high-speed cryptocurrency exchange. Our team has streamlined every stage of the process to make sure you get your cryptocurrency as fast as possible.</p>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-4 offset-top-45 offset-lg-top-0"><span class="icon icon-lg icon-circle mdi mdi-eye-off icon-primary"></span>
                                <h4>.onion site</h4>
                                <p class="inset-md-left-15 inset-md-right-15">We encourage you to access our services through blahblah.onion, to add an extra level of security to your exchanges.</p>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-4 offset-top-66"><span class="icon icon-lg icon-circle mdi mdi-trophy icon-primary"></span>
                                <h4>Competitive</h4>
                                <p class="inset-md-left-15 inset-md-right-15">We guarantee the best altcoin and btc exchange rates that update in real time. Our presence on multiple exchanges and adaptable trading strategies allow us to give you the lowest exchange rates anywhere.</p>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-4 offset-top-66"><span class="icon icon-lg icon-circle mdi mdi-playlist-play icon-primary"></span>
                                <h4>Choice</h4>
                                <p class="inset-md-left-15 inset-md-right-15">morphex supports exchanges between (number) cryptocurrencies. We work in close cooperation with coin developers and ICOs, and we are constantly adding to the coins you can exchange on our platform. Click here to learn more about listing your coin on our platform.</p>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-4 offset-top-66"><span class="icon icon-lg icon-circle fa fa-thumbs-o-up icon-primary"></span>
                                <h4>No Limits</h4>
                                <p class="inset-md-left-15 inset-md-right-15">How much do you want to trade? At morphex, you can exchange any amount as long as it's more than the network fee.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container offset-top-66">
                        <h2>24 hour statistics</h2></div>
                    <div class="container offset-top-66">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="counter-type-1">
                                    <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="2500" data-from="0" data-to="702.3512171065596">0</span>
                                        <hr class="divider bg-gray-darker">
                                    </div>
                                    <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Transactions</h6></div>
                                <div class="spaceBet2"></div>
                                <div class="counter-type-1">
                                    <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="2500" data-from="0" data-to="49.13615298142782">0</span><span class="big font-weight-bold singleColor">BTC</span>
                                        <hr class="divider bg-gray-darker">
                                    </div>
                                    <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">BTC volume equivalent</h6></div>
                            </div>
                            <div class="col-md-2">
                                <div class="counter-type-1">
                                    <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="2500" data-from="0" data-to="0">0</span><span class="big font-weight-bold singleColor">min</span>
                                        <hr class="divider bg-gray-darker">
                                    </div>
                                    <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Avg. process time</h6></div>
                                <div class="spaceBet"></div>
                                <div class="counter-type-1">
                                    <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="2500" data-from="0" data-to="0">0</span>
                                        <hr class="divider bg-gray-darker">
                                    </div>
                                    <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Coins Lost trough hacking</h6></div>
                            </div>
                            <div class="col-md-8">
                                <div class="d3-chart" id="donut-chart" data-graph-object="{&quot;bindto&quot;:&quot;#donut-chart&quot;,&quot;color&quot;:{&quot;pattern&quot;:[&quot;#695999&quot;,&quot;#79ccf2&quot;,&quot;#42b574&quot;,&quot;#f54b0f&quot;,&quot;#f3a43d&quot;,&quot;#79ccf2&quot;]},&quot;data&quot;:{&quot;columns&quot;:[[&quot;AltToBtc&quot;,60],[&quot;BtcToAlt&quot;,24],[&quot;AltToAlt&quot;,16]],&quot;type&quot;:&quot;donut&quot;},&quot;donut&quot;:{&quot;title&quot;:&quot;&quot;}}" style="width:100%;height: 370px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="contacts" data-type="anchor">
                <section class="section parallax-container context-dark bg-gray-base" data-parallax-img="images/bg-03-1920x546.jpg">
                    <div class="parallax-content">
                        <div class="container section-90 section-lg-110">
                            <div class="row justify-content-sm-center">
                                <div class="col-md-8 col-lg-6">
                                    <div class="offset-top-40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        {% endblock %}