{% extends "footer.html" %}
{% block content %}

<section class="exchange mb-5">
	<div class="container">
		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-12 col-lg-12 col-xl-12">

				<ul class="nav md-pills nav-justified ">
					<li class="nav-item">
						<a class="nav-link pill-active" data-toggle="tab" role="tab">
					Select Coins <img class="img-fluid" width="30" height="30" src="/assets/img/loading.gif">
						</a>
					</li>
					<li class="nav-item  d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
					Transaction Info <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
				</a>
					</li>
					<li class="nav-item  d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
					Awaiting Deposit <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
				</a>
					</li>
					<li class="nav-item  d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
					Exchanging <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
				</a>
					</li>
					<li class="nav-item  d-none d-sm-block">
						<a class="nav-link pill-inactive" data-toggle="tab" role="tab">
					Finish <img class="img-fluid" width="20" height="20" src="/assets/img/favicon.png">
				</a>
					</li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!--Panel 1-->
					<div class="tab-pane fade in show active" role="tabpanel">

						<div class="row ">
							<div class="col-12">
								<h1 class="h1-header  h1-responsive  my-5">
									Change the way you exchange!
								</h1>
								<p class="p-header">Strictly anonymous crypto asset conversion</p>
							</div>
							<div class="col-md-12">
								<div class="row mt-4">
									<div class="col-lg-5 col-md-5 col-sm-12">
										<div id="send-select-coin" style="width:100%"></div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-12 text-center">
										<a class="interchange">
											<i class="fas fa-exchange-alt fa-3x"></i>
										</a>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-12">
										<div id="recieve-select-coin" style="width:100%"></div>
									</div>
									
									<div class="col-12 text-center mt-4">
											<div class="alert alert-danger" role="alert" style='display:none;margin-bottom: 5px;' id='error'>
													A simple danger alert—check it out!
													</div>
													
										<button type="button" class="btn btn-success btn-lg mx-0"  id="next">Exchange</button>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!--/.Panel 1-->

				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->
	</div>
</section>
<section class="my-5">
	<div class="container py-3">
		<div class="row">
			<div class="col-12">
				<h1 class="section-title">How it works</h1>
			</div>
		</div>

		<div class="row my-5">
			<div class="col-md-6 text-center">
				<img src="/assets/img/bitcoin.png" class="img-fluid" />
			</div>
			<div class="col-md-6">
				<p>
					Morphex is an anonymous instant cryptocurrency exchange.
				</p>
				<p>
					We maintain a presence on all major exchanges to give you the best rates in real time, without ever requiring an account or collecting personal information about you.
				</p>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-md-6">
				<p>
					Using morphex is simple and easy; just select the coins you'd like to exchange, enter your address, send us your coins and you're all set.
				</p>
				<p>
					You'll receive your selected currency at the best rates without ever compromising your privacy by completing restrictive KYC protocols.
				</p>
			</div>
			<div class="col-md-6 text-center">
				<img src="/assets/img/cryptocurrency.png" class="img-fluid" />
			</div>
		</div>

	</div>
	<!--container-->
</section>

<!-- Section: Features v.1 -->
<section class="text-center my-5">
	<div class="container py-3 ">
		<div class="row">
			<div class="col-12">
				<!-- Section heading -->
				<h1 class="section-title">Features</h1>
			</div>
		</div>

		<!-- Grid row -->
		<div class="row my-5 ">

			<!-- Grid column -->
			<div class="col-md-4 ">
				<i class="fas fa-ghost fa-3x red-text "></i>
				<h5 class="font-weight-bold my-4 ">Anonymous</h5>
				<p class="grey-text mb-md-0 mb-5 ">The only information we will ever ask of you is your receiving address. No registration or verification required, and no KYC! At morphex you can delete your transaction ID right away, , so you never have to worry about third parties
					getting your data.
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 ">

				<i class="fas fa-shipping-fast fa-3x purple-text "></i>
				<h5 class="font-weight-bold my-4 ">Fast</h5>
				<p class="grey-text mb-md-0 mb-5 ">At morphex our goal is to provide users with easy, high-speed cryptocurrency exchange. Our team has streamlined every stage of the process to make sure you get your cryptocurrency as fast as possible.
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 ">

				<i class="far fa-eye-slash fa-3x orange-text "></i>
				<h5 class="font-weight-bold my-4 ">.onion site</h5>
				<p class="grey-text mb-0 ">We encourage you to access our services through blahblah.onion, to add an extra level of security to your exchanges.
				</p>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

		<!-- Grid row -->
		<div class="row my-5 ">

			<!-- Grid column -->
			<div class="col-md-4 ">

				<i class="fas fa-trophy fa-3x blue-text "></i>
				<h5 class="font-weight-bold my-4 ">Competitive</h5>
				<p class="grey-text mb-md-0 mb-5 ">We guarantee the best altcoin and btc exchange rates that update in real time. Our presence on multiple exchanges and adaptable trading strategies allow us to give you the lowest exchange rates anywhere.
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 ">

				<i class="fas fa-hand-pointer fa-3x amber-text"></i>
				<h5 class="font-weight-bold my-4 ">Choice</h5>
				<p class="grey-text mb-md-0 mb-5 ">morphex supports exchanges between (number) cryptocurrencies. We work in close cooperation with coin developers and ICOs, and we are constantly adding to the coins you can exchange on our platform. Click here to learn more about listing
					your coin on our platform.
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 ">

				<i class="far fa-thumbs-up fa-3x green-text"></i>
				<h5 class="font-weight-bold my-4 ">No Limits</h5>
				<p class="grey-text mb-0 ">How much do you want to trade? At morphex, you can exchange any amount as long as it's more than the network fee.
				</p>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->
	</div>
</section>
<!-- Section: Features v.1 -->

<section class="statistics my-5 ">
	<div class="container py-3 ">
		<div class="row ">
			<div class="col-12 ">
				<h1 class="section-title "> 24 Hour Statistics</h1>
			</div>
		</div>
		<div class="row my-5 ">
			<div class="col-lg-6 col-md-12 col-sm-12 ">
				<div class="row ">
					<div class="col-6 text-center ">
						<h2 class="stats-number h1-responsive ">702 </h2>
						<hr>
						<p class="stats-text ">Transactions</p>
					</div>
					<div class="col-6 text-center ">
						<h2 class="stats-number h1-responsive ">0 Min</h2>
						<hr>
						<p class="stats-text ">AVG. PROCESS TIME</p>
					</div>
				</div>
				<div class="row my-5 ">
					<div class="col-6 text-center ">
						<h2 class="stats-number h1-responsive ">49 BTC</h2>
						<hr>
						<p class="stats-text ">BTC VOLUME EQUIVALENT</p>
					</div>
					<div class="col-6 text-center ">
						<h2 class="stats-number h1-responsive ">0</h2>
						<hr>
						<p class="stats-text ">COINS LOST TROUGH HACKING</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 ">
				<canvas id="doughnutChart"></canvas>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{%  block script %}
<script type="text/javascript">
function hide(err){
		var err = document.getElementById('error');
		err.style.display = 'none'
	}
	function setMessage(message){
		var err = document.getElementById('error');
		err.innerHTML = message;
		err.style.display = 'block';
		setTimeout(hide,2000);
	}
	$(document).ready(function() {
		$('#transactionForm').submit(function() {
			var location = $('#rd-navbar-form-search-widget').val();
			window.location.href = "/transaction/" + location;
			return false;
		});
		$('#contact').submit(function() {
			var name = $('#contact-me-name').val();
			var email = $('#contact-me-email').val();
			var message = $('#contact-me-message').val();
			window.location.href = '/send?name='+name+'&email='+email+'&message='+message;
		});
		$('#subscribe').submit(function() {
			var email = $('#subscribe-email').val();
			window.location.href = '/subscribe?email='+email
		});
	});
	$("#next").click(function() {
								var inCurrency = $('#income').val();
								var outCurrency = $('#outgo').val();
								if (inCurrency == outCurrency && inCurrency != '') {
									setMessage('Same currency selected. Please use a mixer.')
								} else {
									if (inCurrency != 'NON' && outCurrency != 'NON'  && inCurrency != '' && outCurrency != '') {
										window.location.href = "/exchange?in=" + inCurrency + "&out=" + outCurrency;
									} else {
										setMessage('Please choose a Currency')
									}
								}
							});
	//doughnut
	var ctxD = document.getElementById("doughnutChart").getContext('2d');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: ["BtcToAlt", "AltToBtc", "AltToAlt"],
                datasets: [{
                    data: [60.0, 24.0, 16.0],
                    backgroundColor: ["#276eda", "#46BFBD", "#332a79"],
                    hoverBackgroundColor: ["#4a89eb", "#5AD3D1", "#4b3db4"]
                }]
            },
            options: {
                responsive: true
            }
        });
	
		$( document ).ready(function() {
        	$(".fa-exchange-alt").click(function(){
        		var sendcoin=$('#send-select-coin .dd-selected .dd-selected-text').text();
        		var sendimagesrc=$('#send-select-coin .dd-selected .dd-selected-image').attr('src');
        		

        		var sendvalue=$('#income').val();

        		var receivesoin=$('#recieve-select-coin .dd-selected .dd-selected-text').text();
        		var receiveimagesrc=$('#recieve-select-coin .dd-selected .dd-selected-image').attr('src');

        		var outgovalue=$('#outgo').val();

        		$('#send-select-coin .dd-selected .dd-selected-text').text(receivesoin);
        		$('#send-select-coin .dd-selected .dd-selected-image').attr('src',receiveimagesrc);
        		$('#income').val(outgovalue);
        		$('#recieve-select-coin .dd-selected .dd-selected-text').text(sendcoin);
        		$('#recieve-select-coin .dd-selected .dd-selected-image').attr('src',sendimagesrc);
        		$('#outgo').val(sendvalue);
        		
        	});
        });
	
</script>
{% endblock %}