<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login to the admin pannel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/assets/admin_asset/login/custom.css">
    
    <style>
		html{
			background-image : url('/assets/admin_asset/login/andre-francois-mckenzie-Q4W8GjjKjuw-unsplash.jpg');
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			position: relative;
			
		}
	</style>
    
    </head>
<body>
    
    <form action="/verfadmin" class='login' method='post'>{% csrf_token %}
		<center>
			<h2>Login to the admin pannel</h2>
			{% if message %}
			<br>
			<h4 style='color:red;'>{{message}}</h4>
			<br>
			{% endif %}
			<input type='text' name='username' placeholder="Username">
            <input type='password' name='password' placeholder="Password">
            <br>
            
		<button type='submit'>Login</button>
	</center>
		
	</form>

	
	<script>
		function resize(){
			var form = document.getElementsByTagName('form')[0];
			form.style.top = Math.round(window.innerHeight/2 - form.offsetHeight/2,0) + 'px'
			form.style.left = Math.round(window.innerWidth/2 - form.offsetWidth/2,0) + 'px'
		}
		window.setInterval(resize,1000);
		//alert('hello world')
		</script>
    
    
    
    
    </body>
</html>