<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:18.0px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:18.0px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.0px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:12.0px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_filesce009672-ddf0-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">1</span></div>
<div style="position:absolute;left:74.67px;top:135.15px" class="cls_005"><span class="cls_005">Terms and Conditions</span></div>
<div style="position:absolute;left:74.67px;top:152.32px" class="cls_003"><span class="cls_003">Last updated October 2018</span></div>
<div style="position:absolute;left:74.67px;top:186.67px" class="cls_003"><span class="cls_003">This Terms of Use ("Terms") describes terms and conditions which you ("user", "you")</span></div>
<div style="position:absolute;left:74.67px;top:203.84px" class="cls_003"><span class="cls_003">shall follow to be able to use morphex.io ("Website", "morphex" "we", "us" and "our") and</span></div>
<div style="position:absolute;left:74.67px;top:221.01px" class="cls_003"><span class="cls_003">its related applications and services ("Services").</span></div>
<div style="position:absolute;left:191.89px;top:278.51px" class="cls_007"><span class="cls_007">Enforcement & Amendments</span></div>
<div style="position:absolute;left:74.67px;top:309.12px" class="cls_003"><span class="cls_003">These Terms of Use constitutes a binding agreement between morphex and the user</span></div>
<div style="position:absolute;left:74.67px;top:326.29px" class="cls_003"><span class="cls_003">as soon as the user visits the Website and uses Services. By doing so, the user</span></div>
<div style="position:absolute;left:74.67px;top:343.47px" class="cls_003"><span class="cls_003">confirms that he has read and accepted these Terms of Use in their entirety before</span></div>
<div style="position:absolute;left:74.67px;top:360.64px" class="cls_003"><span class="cls_003">using our Services.</span></div>
<div style="position:absolute;left:74.67px;top:394.99px" class="cls_003"><span class="cls_003">The user accepts that Terms of Use may be updated by morphex from time to time. If</span></div>
<div style="position:absolute;left:74.67px;top:412.16px" class="cls_003"><span class="cls_003">the user does not read and accept the Terms of Use in its entirety he should not use or</span></div>
<div style="position:absolute;left:74.67px;top:429.33px" class="cls_003"><span class="cls_003">continue using the Website.</span></div>
<div style="position:absolute;left:74.67px;top:463.68px" class="cls_003"><span class="cls_003">We reserve the right to alter, amend or modify these Terms from time to time, at our</span></div>
<div style="position:absolute;left:74.67px;top:480.85px" class="cls_003"><span class="cls_003">sole discretion. We will provide you with notice of such changes by providing notice on</span></div>
<div style="position:absolute;left:74.67px;top:498.03px" class="cls_003"><span class="cls_003">the homepage of the Website and/or by posting the amended Terms via our Website</span></div>
<div style="position:absolute;left:74.67px;top:515.20px" class="cls_003"><span class="cls_003">and updating the "Last Updated" date at the top of these Terms. The amended Terms</span></div>
<div style="position:absolute;left:74.67px;top:532.37px" class="cls_003"><span class="cls_003">will be deemed effective immediately upon posting on Website.</span></div>
<div style="position:absolute;left:235.20px;top:572.69px" class="cls_007"><span class="cls_007">Provided Services</span></div>
<div style="position:absolute;left:92.59px;top:604.80px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> morphex is a platform which provides you with a possibility to Exchange one</span></div>
<div style="position:absolute;left:110.51px;top:620.48px" class="cls_003"><span class="cls_003">type of crypto asset to another one.</span></div>
<div style="position:absolute;left:110.51px;top:654.83px" class="cls_003"><span class="cls_003">For the purposes hereof </span><span class="cls_009">"Exchange"</span><span class="cls_003"> shall mean an exchange of the crypto asset</span></div>
<div style="position:absolute;left:110.51px;top:672.00px" class="cls_003"><span class="cls_003">of one type to the crypto asset of another type at the terms and conditions set</span></div>
<div style="position:absolute;left:110.51px;top:689.17px" class="cls_003"><span class="cls_003">forth by exchanging parties, which is executed via the Third-party service in</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">2</span></div>
<div style="position:absolute;left:110.51px;top:71.68px" class="cls_003"><span class="cls_003">respective block-chain network. When you exchange crypto assets you</span></div>
<div style="position:absolute;left:110.51px;top:88.85px" class="cls_003"><span class="cls_003">acknowledge and agree that the Exchange will be processed through the</span></div>
<div style="position:absolute;left:110.51px;top:106.03px" class="cls_003"><span class="cls_003">third-party exchange service with additional fees applicable to such Exchange.</span></div>
<div style="position:absolute;left:110.51px;top:123.20px" class="cls_003"><span class="cls_003">You acknowledge and agree that the exchange rates information made available</span></div>
<div style="position:absolute;left:110.51px;top:140.37px" class="cls_003"><span class="cls_003">via the Website are an estimation only and may differ from prevailing rates</span></div>
<div style="position:absolute;left:110.51px;top:157.55px" class="cls_003"><span class="cls_003">available via other sources outside of the Website.</span></div>
<div style="position:absolute;left:110.51px;top:191.89px" class="cls_009"><span class="cls_009">"Crypto Assets"</span><span class="cls_003"> herein shall be deemed as type of assets which can only and</span></div>
<div style="position:absolute;left:110.51px;top:209.07px" class="cls_003"><span class="cls_003">exclusively be transmitted by means of block-chain technology, including but</span></div>
<div style="position:absolute;left:110.51px;top:226.24px" class="cls_003"><span class="cls_003">not limited to digital coins and digital tokens and any other type of digital</span></div>
<div style="position:absolute;left:110.51px;top:243.41px" class="cls_003"><span class="cls_003">mediums of exchange, such as Bitcoin, Ethereum, Ripple, etc, to the full and</span></div>
<div style="position:absolute;left:110.51px;top:260.59px" class="cls_003"><span class="cls_003">absolute exempt of the securities of any kind.</span></div>
<div style="position:absolute;left:74.67px;top:294.93px" class="cls_003"><span class="cls_003">Our Website does not provide custodial services, which means, we do not store your</span></div>
<div style="position:absolute;left:74.67px;top:312.11px" class="cls_003"><span class="cls_003">crypto assets on deposits and balances. In limited cases, your Exchange may be</span></div>
<div style="position:absolute;left:74.67px;top:329.28px" class="cls_003"><span class="cls_003">delayed. YOU HEREBY UNDERSTAND AND ACKNOWLEDGE, THAT ANY DELAYS ARE</span></div>
<div style="position:absolute;left:74.67px;top:346.45px" class="cls_003"><span class="cls_003">POSSIBLE; YOU INDEMNIFY AND HOLD US HARMLESS AGAINST ANY CLAIMS,</span></div>
<div style="position:absolute;left:74.67px;top:363.63px" class="cls_003"><span class="cls_003">DEMANDS AND DAMAGES, WHETHER DIRECT, INDIRECT, CONSEQUENTIAL OR</span></div>
<div style="position:absolute;left:74.67px;top:380.80px" class="cls_003"><span class="cls_003">SPECIAL, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO,</span></div>
<div style="position:absolute;left:74.67px;top:397.97px" class="cls_003"><span class="cls_003">LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN</span></div>
<div style="position:absolute;left:74.67px;top:415.15px" class="cls_003"><span class="cls_003">CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE,</span></div>
<div style="position:absolute;left:74.67px;top:432.32px" class="cls_003"><span class="cls_003">ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE EXCHANGE DELAY,</span></div>
<div style="position:absolute;left:74.67px;top:449.49px" class="cls_003"><span class="cls_003">WHETHER ORIGINATED FROM OUR FAULT OR NOT.</span></div>
<div style="position:absolute;left:271.04px;top:489.81px" class="cls_007"><span class="cls_007">Eligibility</span></div>
<div style="position:absolute;left:74.67px;top:520.43px" class="cls_003"><span class="cls_003">Prior to your use of the Services and on an ongoing basis you represent, warrant,</span></div>
<div style="position:absolute;left:74.67px;top:537.60px" class="cls_003"><span class="cls_003">covenant and agree that:</span></div>
<div style="position:absolute;left:92.59px;top:573.44px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you use our Services at your sole option, discretion and risk;</span></div>
<div style="position:absolute;left:92.59px;top:590.61px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you are solely responsible for any applicable taxes which may be payable while</span></div>
<div style="position:absolute;left:110.51px;top:606.29px" class="cls_003"><span class="cls_003">using our Services;</span></div>
<div style="position:absolute;left:92.59px;top:624.96px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you are at least 16 years old or of other legal age, according to your relevant</span></div>
<div style="position:absolute;left:110.51px;top:640.64px" class="cls_003"><span class="cls_003">jurisdiction;</span></div>
<div style="position:absolute;left:92.59px;top:659.31px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you agree to pay the fees for Exchanges completed via Website as defined by</span></div>
<div style="position:absolute;left:110.51px;top:674.99px" class="cls_003"><span class="cls_003">our Website, which We may change from time to time;</span></div>
<div style="position:absolute;left:92.59px;top:693.65px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> there are risks, associated with Internet-based system, such as the failure of</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background3.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">3</span></div>
<div style="position:absolute;left:110.51px;top:71.68px" class="cls_003"><span class="cls_003">hardware, software, and Internet connections and with the Blockchain Protocol,</span></div>
<div style="position:absolute;left:110.51px;top:88.85px" class="cls_003"><span class="cls_003">such as any malfunction, unintended function, unexpected functioning of or</span></div>
<div style="position:absolute;left:110.51px;top:106.03px" class="cls_003"><span class="cls_003">attack on the Blockchain protocol;</span></div>
<div style="position:absolute;left:92.59px;top:124.69px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you can exchange only those crypto assets which belongs to you;</span></div>
<div style="position:absolute;left:92.59px;top:141.87px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> you shall provide correct information for constructing Exchange (e.g. payin and</span></div>
<div style="position:absolute;left:110.51px;top:157.55px" class="cls_003"><span class="cls_003">payout wallet address). Such wallet addresses shall not be associated with</span></div>
<div style="position:absolute;left:110.51px;top:174.72px" class="cls_003"><span class="cls_003">terrorism, fraudulent, scam or any type of illegal activity.</span></div>
<div style="position:absolute;left:74.67px;top:226.24px" class="cls_003"><span class="cls_003">You further represent, agree and warrant, that you will not violate any law, contract,</span></div>
<div style="position:absolute;left:74.67px;top:243.41px" class="cls_003"><span class="cls_003">third-party right or commit a tort by accessing or using the Services, and that you are</span></div>
<div style="position:absolute;left:74.67px;top:260.59px" class="cls_003"><span class="cls_003">solely responsible for your actions and/or inactions while using our Services. Without</span></div>
<div style="position:absolute;left:74.67px;top:277.76px" class="cls_003"><span class="cls_003">prejudice to the foregoing, you represent, agree and warrant, that YOU WILL NOT:</span></div>
<div style="position:absolute;left:92.59px;top:313.60px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> use our Services or will immediately cease using those if any applicable law in</span></div>
<div style="position:absolute;left:110.51px;top:329.28px" class="cls_003"><span class="cls_003">your country prohibits or will prohibit you at any time from doing so;</span></div>
<div style="position:absolute;left:92.59px;top:347.95px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> use our Services to participate in fraudulent, scam or any type of illegal activity;</span></div>
<div style="position:absolute;left:92.59px;top:365.12px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> provide false, inaccurate, or misleading information;</span></div>
<div style="position:absolute;left:92.59px;top:382.29px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> attempt to modify, decompile, reverse-engineer or disassemble our software in</span></div>
<div style="position:absolute;left:110.51px;top:397.97px" class="cls_003"><span class="cls_003">any way;</span></div>
<div style="position:absolute;left:92.59px;top:416.64px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> use any robot, spider, crawler, scraper or other automated means or interface</span></div>
<div style="position:absolute;left:110.51px;top:432.32px" class="cls_003"><span class="cls_003">not provided by us to access the Services or to extract data;</span></div>
<div style="position:absolute;left:92.59px;top:450.99px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> attempt to circumvent any content filtering techniques we employ, or attempt to</span></div>
<div style="position:absolute;left:110.51px;top:466.67px" class="cls_003"><span class="cls_003">access any service or area of our Services that you are not authorized to access;</span></div>
<div style="position:absolute;left:92.59px;top:485.33px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> develop any third-party applications that interact with our Services without our</span></div>
<div style="position:absolute;left:110.51px;top:501.01px" class="cls_003"><span class="cls_003">prior written consent; AND</span></div>
<div style="position:absolute;left:92.59px;top:519.68px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> Encourage or induce any third party to engage in any of the activities prohibited</span></div>
<div style="position:absolute;left:110.51px;top:535.36px" class="cls_003"><span class="cls_003">under this Section.</span></div>
<div style="position:absolute;left:74.67px;top:586.88px" class="cls_003"><span class="cls_003">YOU INDEMNIFY AND HOLD US HARMLESS AGAINST ANY CLAIMS, DEMANDS AND</span></div>
<div style="position:absolute;left:74.67px;top:604.05px" class="cls_003"><span class="cls_003">DAMAGES, WHETHER DIRECT, INDIRECT, CONSEQUENTIAL OR SPECIAL, OR ANY</span></div>
<div style="position:absolute;left:74.67px;top:621.23px" class="cls_003"><span class="cls_003">OTHER DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, LOSS OF USE,</span></div>
<div style="position:absolute;left:74.67px;top:638.40px" class="cls_003"><span class="cls_003">LOSS OF PROFITS OR LOSS OF DATA OR LOSS OF ASSETS, WHETHER IN AN ACTION</span></div>
<div style="position:absolute;left:74.67px;top:655.57px" class="cls_003"><span class="cls_003">IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR</span></div>
<div style="position:absolute;left:74.67px;top:672.75px" class="cls_003"><span class="cls_003">OTHERWISE, ORIGINATED FROM OR IN ANY WAY CONNECTED WITH INVALIDITY OR</span></div>
<div style="position:absolute;left:74.67px;top:689.92px" class="cls_003"><span class="cls_003">BREACH OF ANY OF THE PROVISIONS OF THIS SECTION AND THE ENTIRE TERMS.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background4.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">4</span></div>
<div style="position:absolute;left:174.72px;top:158.29px" class="cls_007"><span class="cls_007">Third-Party Content and Services</span></div>
<div style="position:absolute;left:74.67px;top:188.91px" class="cls_003"><span class="cls_003">For the purposes hereof </span><span class="cls_009">"Third-Party Content"</span><span class="cls_003"> shall mean the content provided by third</span></div>
<div style="position:absolute;left:74.67px;top:206.08px" class="cls_003"><span class="cls_003">parties, including without limitation links to web pages of such parties, which may be</span></div>
<div style="position:absolute;left:74.67px;top:223.25px" class="cls_003"><span class="cls_003">represented on the Website. At the same time </span><span class="cls_009">"Third-party service"</span><span class="cls_003"> refers to any</span></div>
<div style="position:absolute;left:74.67px;top:240.43px" class="cls_003"><span class="cls_003">platform or network in which crypto assets belong to you or where you are the</span></div>
<div style="position:absolute;left:74.67px;top:257.60px" class="cls_003"><span class="cls_003">beneficial owner of crypto assets; and this platform is maintained by a third party</span></div>
<div style="position:absolute;left:74.67px;top:274.77px" class="cls_003"><span class="cls_003">outside of the Services; including, but not limited to third-party accounts.</span></div>
<div style="position:absolute;left:74.67px;top:309.12px" class="cls_009"><span class="cls_009">No control over third-party services</span><span class="cls_003">  You may be charged fees by the third-party</span></div>
<div style="position:absolute;left:74.67px;top:326.29px" class="cls_003"><span class="cls_003">service provider. Changelly is not responsible for any third-party services' fees. You are</span></div>
<div style="position:absolute;left:74.67px;top:343.47px" class="cls_003"><span class="cls_003">solely responsible for your use of the third-party service, and you agree to comply with</span></div>
<div style="position:absolute;left:74.67px;top:360.64px" class="cls_003"><span class="cls_003">all terms and conditions applicable to any third-party service.</span></div>
<div style="position:absolute;left:74.67px;top:394.99px" class="cls_003"><span class="cls_003">While using our Website, you may view Third-Party Content. We do not control, endorse</span></div>
<div style="position:absolute;left:74.67px;top:412.16px" class="cls_003"><span class="cls_003">or adopt (unless otherwise expressly stated by Us) any Third-Party Content and shall</span></div>
<div style="position:absolute;left:74.67px;top:429.33px" class="cls_003"><span class="cls_003">have no responsibility for Third-Party Content, including without limitation material that</span></div>
<div style="position:absolute;left:74.67px;top:446.51px" class="cls_003"><span class="cls_003">may be misleading, incomplete, erroneous, offensive, indecent or otherwise</span></div>
<div style="position:absolute;left:74.67px;top:463.68px" class="cls_003"><span class="cls_003">objectionable. In addition, your business dealings or correspondence with such third</span></div>
<div style="position:absolute;left:74.67px;top:480.85px" class="cls_003"><span class="cls_003">parties are solely between you and the third parties. We are not responsible or liable for</span></div>
<div style="position:absolute;left:74.67px;top:498.03px" class="cls_003"><span class="cls_003">any loss or damage of any sort incurred as the result of any such dealings, and you</span></div>
<div style="position:absolute;left:74.67px;top:515.20px" class="cls_003"><span class="cls_003">understand that your use of Third-Party Content, and your interactions with third</span></div>
<div style="position:absolute;left:74.67px;top:532.37px" class="cls_003"><span class="cls_003">parties, is at your own risk.</span></div>
<div style="position:absolute;left:226.24px;top:572.69px" class="cls_007"><span class="cls_007">Intellectual Property</span></div>
<div style="position:absolute;left:74.67px;top:603.31px" class="cls_003"><span class="cls_003">All our intellectual property assets ("IP") including but not limited to all copyrights,</span></div>
<div style="position:absolute;left:74.67px;top:620.48px" class="cls_003"><span class="cls_003">trademarks, patents, service marks, trade names, software code, icons, logos,</span></div>
<div style="position:absolute;left:74.67px;top:637.65px" class="cls_003"><span class="cls_003">characters, layouts, trade secrets, buttons, color scheme and graphics are protected by</span></div>
<div style="position:absolute;left:74.67px;top:654.83px" class="cls_003"><span class="cls_003">local and international intellectual property laws and treaties.</span></div>
<div style="position:absolute;left:74.67px;top:689.17px" class="cls_003"><span class="cls_003">We hereby grant you a limited, nonexclusive and non-sublicensable license to access</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:3208px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background5.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">5</span></div>
<div style="position:absolute;left:74.67px;top:71.68px" class="cls_003"><span class="cls_003">and use our IP for your personal use only.</span></div>
<div style="position:absolute;left:74.67px;top:106.03px" class="cls_003"><span class="cls_003">In any case you may not alter, modify, reproduce, distribute or commercially exploit any</span></div>
<div style="position:absolute;left:74.67px;top:123.20px" class="cls_003"><span class="cls_003">materials, including text, graphics, video, audio, software code, user interface design or</span></div>
<div style="position:absolute;left:74.67px;top:140.37px" class="cls_003"><span class="cls_003">logos.</span></div>
<div style="position:absolute;left:74.67px;top:174.72px" class="cls_003"><span class="cls_003">The license granted under this Section will automatically terminate if We suspend or</span></div>
<div style="position:absolute;left:74.67px;top:191.89px" class="cls_003"><span class="cls_003">terminate your access to the Services.</span></div>
<div style="position:absolute;left:74.67px;top:226.24px" class="cls_003"><span class="cls_003">In case you upload or share any feedback, suggestion, idea or other information or</span></div>
<div style="position:absolute;left:74.67px;top:243.41px" class="cls_003"><span class="cls_003">material ("Content") with us you automatically grant us a worldwide license to use your</span></div>
<div style="position:absolute;left:74.67px;top:260.59px" class="cls_003"><span class="cls_003">content. It becomes part of the public domain as long as it remains on our Website. It</span></div>
<div style="position:absolute;left:74.67px;top:277.76px" class="cls_003"><span class="cls_003">can be used for marketing or any other purposes at our sole discretion.</span></div>
<div style="position:absolute;left:238.93px;top:318.08px" class="cls_007"><span class="cls_007">Communications</span></div>
<div style="position:absolute;left:74.67px;top:348.69px" class="cls_003"><span class="cls_003">You agree and consent to receive electronically all Communications, that morphex may</span></div>
<div style="position:absolute;left:74.67px;top:365.87px" class="cls_003"><span class="cls_003">be willing to communicate to you in connection with your use of our Services. For the</span></div>
<div style="position:absolute;left:74.67px;top:383.04px" class="cls_003"><span class="cls_003">purposes hereof “Communications” shall mean all and any communication, agreement,</span></div>
<div style="position:absolute;left:74.67px;top:400.21px" class="cls_003"><span class="cls_003">document, receipt, notice and disclosure, which may be from time to time addressed to</span></div>
<div style="position:absolute;left:74.67px;top:417.39px" class="cls_003"><span class="cls_003">User by morphex. You may withdraw your consent to receive electronic</span></div>
<div style="position:absolute;left:74.67px;top:434.56px" class="cls_003"><span class="cls_003">Communications by sending a withdrawal notice to support. If this is a case you waive</span></div>
<div style="position:absolute;left:74.67px;top:451.73px" class="cls_003"><span class="cls_003">your right to plead ignorance. If you decline or withdraw consent to receive electronic</span></div>
<div style="position:absolute;left:74.67px;top:468.91px" class="cls_003"><span class="cls_003">Communications, morphex may suspend or terminate your use of the Website.</span></div>
<div style="position:absolute;left:215.79px;top:509.23px" class="cls_007"><span class="cls_007">Limitation of Liabilities</span></div>
<div style="position:absolute;left:74.67px;top:539.84px" class="cls_003"><span class="cls_003">Except as expressly provided to the contrary in a writing by Us, our services are</span></div>
<div style="position:absolute;left:74.67px;top:557.01px" class="cls_003"><span class="cls_003">provided on an "As is" and "As available" basis. WE EXPRESSLY DISCLAIM, AND YOU</span></div>
<div style="position:absolute;left:74.67px;top:574.19px" class="cls_003"><span class="cls_003">WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,</span></div>
<div style="position:absolute;left:74.67px;top:591.36px" class="cls_003"><span class="cls_003">INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY,</span></div>
<div style="position:absolute;left:74.67px;top:608.53px" class="cls_003"><span class="cls_003">FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO OUR</span></div>
<div style="position:absolute;left:74.67px;top:625.71px" class="cls_003"><span class="cls_003">SERVICES, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED</span></div>
<div style="position:absolute;left:74.67px;top:642.88px" class="cls_003"><span class="cls_003">THEREIN.</span></div>
<div style="position:absolute;left:74.67px;top:677.23px" class="cls_003"><span class="cls_003">Except as otherwise required by law, IN NO EVENT SHALL MORPHEX, OUR DIRECTORS,</span></div>
<div style="position:absolute;left:74.67px;top:694.40px" class="cls_003"><span class="cls_003">OFFICERS, MEMBERS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY DIRECT,</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4010px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background6.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">6</span></div>
<div style="position:absolute;left:74.67px;top:71.68px" class="cls_003"><span class="cls_003">INDIRECT, CONSEQUENTIAL OR SPECIAL DAMAGES, OR ANY OTHER DAMAGES OF</span></div>
<div style="position:absolute;left:74.67px;top:88.85px" class="cls_003"><span class="cls_003">ANY KIND, INCLUDING, BUT NOT LIMITED TO, LOSS OF USE, LOSS OF PROFITS OR</span></div>
<div style="position:absolute;left:74.67px;top:106.03px" class="cls_003"><span class="cls_003">LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT</span></div>
<div style="position:absolute;left:74.67px;top:123.20px" class="cls_003"><span class="cls_003">LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY</span></div>
<div style="position:absolute;left:74.67px;top:140.37px" class="cls_003"><span class="cls_003">CONNECTED WITH THE USE OF OR INABILITY TO USE OUR SERVICES, INCLUDING</span></div>
<div style="position:absolute;left:74.67px;top:157.55px" class="cls_003"><span class="cls_003">WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE</span></div>
<div style="position:absolute;left:74.67px;top:174.72px" class="cls_003"><span class="cls_003">BY ANY USER ON ANY INFORMATION OBTAINED FROM CHANGELLY, OR THAT</span></div>
<div style="position:absolute;left:74.67px;top:191.89px" class="cls_003"><span class="cls_003">RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR</span></div>
<div style="position:absolute;left:74.67px;top:209.07px" class="cls_003"><span class="cls_003">EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR</span></div>
<div style="position:absolute;left:74.67px;top:226.24px" class="cls_003"><span class="cls_003">ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM A FORCE</span></div>
<div style="position:absolute;left:74.67px;top:243.41px" class="cls_003"><span class="cls_003">MAJEURE EVENT, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR</span></div>
<div style="position:absolute;left:74.67px;top:260.59px" class="cls_003"><span class="cls_003">UNAUTHORIZED ACCESS TO MORPHEX'S RECORDS, PROGRAMS OR SERVICES.</span></div>
<div style="position:absolute;left:74.67px;top:294.93px" class="cls_003"><span class="cls_003">Exchanges via our Website cannot be canceled by morphex. Therefore, check the</span></div>
<div style="position:absolute;left:74.67px;top:312.11px" class="cls_003"><span class="cls_003">details of your exchange details before making such exchange. morphex is not</span></div>
<div style="position:absolute;left:74.67px;top:329.28px" class="cls_003"><span class="cls_003">responsible for your crypto assets once they have been sent outside of the Website.</span></div>
<div style="position:absolute;left:74.67px;top:346.45px" class="cls_003"><span class="cls_003">Moreover, morphex doesn’t guarantee the uptime of the exchange.</span></div>
<div style="position:absolute;left:74.67px;top:380.80px" class="cls_003"><span class="cls_003">We strive to protect our users from fraudulent and scam activities in the sphere of</span></div>
<div style="position:absolute;left:74.67px;top:397.97px" class="cls_003"><span class="cls_003">crypto assets. It is possible, that some crypto assets are purposed for unlawful seizure</span></div>
<div style="position:absolute;left:74.67px;top:415.15px" class="cls_003"><span class="cls_003">of the property, or are construed as a fraud, scam or any other activity, recognized by</span></div>
<div style="position:absolute;left:74.67px;top:432.32px" class="cls_003"><span class="cls_003">the laws as illegal and/or non-compliant with legal requirements. We reserve the right</span></div>
<div style="position:absolute;left:74.67px;top:449.49px" class="cls_003"><span class="cls_003">to prohibit and discontinue any Exchanges on our Website with such crypto asset at our</span></div>
<div style="position:absolute;left:74.67px;top:466.67px" class="cls_003"><span class="cls_003">sole discretion, without any prior notice to you and without publication of the reason for</span></div>
<div style="position:absolute;left:74.67px;top:483.84px" class="cls_003"><span class="cls_003">such decision, whenever this comes to our knowledge. YOU INDEMNIFY AND HOLD</span></div>
<div style="position:absolute;left:74.67px;top:501.01px" class="cls_003"><span class="cls_003">MORPHEX HARMLESS AGAINST ANY CLAIMS, DEMANDS AND DAMAGES, WHETHER</span></div>
<div style="position:absolute;left:74.67px;top:518.19px" class="cls_003"><span class="cls_003">DIRECT, INDIRECT, CONSEQUENTIAL OR SPECIAL, OR ANY OTHER DAMAGES OF ANY</span></div>
<div style="position:absolute;left:74.67px;top:535.36px" class="cls_003"><span class="cls_003">KIND, INCLUDING, BUT NOT LIMITED TO, LOSS OF USE, LOSS OF PROFITS OR LOSS OF</span></div>
<div style="position:absolute;left:74.67px;top:552.53px" class="cls_003"><span class="cls_003">DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED</span></div>
<div style="position:absolute;left:74.67px;top:569.71px" class="cls_003"><span class="cls_003">TO NEGLIGENCE) OR OTHERWISE, ORIGINATED FROM OR IN ANY WAY CONNECTED</span></div>
<div style="position:absolute;left:74.67px;top:586.88px" class="cls_003"><span class="cls_003">WITH PROHIBITION AND DISCONTINUATION OF EXCHANGES IN OUR WEBSITE WITH</span></div>
<div style="position:absolute;left:74.67px;top:604.05px" class="cls_003"><span class="cls_003">ANY CRYPTO ASSET.</span></div>
<div style="position:absolute;left:205.33px;top:644.37px" class="cls_007"><span class="cls_007">Termination of the Terms</span></div>
<div style="position:absolute;left:74.67px;top:674.99px" class="cls_003"><span class="cls_003">We reserve the right to terminate these Terms in the following cases:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4812px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="/assets/ce009672-ddf0-11e9-9d71-0cc47a792c0a_id_ce009672-ddf0-11e9-9d71-0cc47a792c0a_files/background7.jpg" width=612 height=792></div>
<div style="position:absolute;left:533.12px;top:35.84px" class="cls_003"><span class="cls_003">L</span></div>
<div style="position:absolute;left:92.59px;top:73.17px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> If for any reason We decide to discontinue to provide the Service, by providing at</span></div>
<div style="position:absolute;left:110.51px;top:88.85px" class="cls_003"><span class="cls_003">least a 3 (three) calendar days’ notice (which shall be provided on the website);</span></div>
<div style="position:absolute;left:92.59px;top:107.52px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> If We believe that you have breached any of the terms of these Terms,</span></div>
<div style="position:absolute;left:110.51px;top:123.20px" class="cls_003"><span class="cls_003">immediately without notice;</span></div>
<div style="position:absolute;left:92.59px;top:141.87px" class="cls_008"><span class="cls_008">●</span><span class="cls_003"> If We decide to terminate our Services, immediately without notice.</span></div>
<div style="position:absolute;left:249.39px;top:197.87px" class="cls_007"><span class="cls_007">Miscellaneous</span></div>
<div style="position:absolute;left:74.67px;top:228.48px" class="cls_003"><span class="cls_003">These Terms contain the entire agreement, and supersede all prior and</span></div>
<div style="position:absolute;left:74.67px;top:245.65px" class="cls_003"><span class="cls_003">contemporaneous understandings between the parties regarding the Services.</span></div>
<div style="position:absolute;left:74.67px;top:262.83px" class="cls_003"><span class="cls_003">In the event of any conflict between these Terms and any other agreement you may</span></div>
<div style="position:absolute;left:74.67px;top:280.00px" class="cls_003"><span class="cls_003">have with morphex, the terms of that other agreement will prevail only if these Terms</span></div>
<div style="position:absolute;left:74.67px;top:297.17px" class="cls_003"><span class="cls_003">are specifically identified and declared to be overridden by such other agreement.</span></div>
<div style="position:absolute;left:74.67px;top:314.35px" class="cls_003"><span class="cls_003">Our failure or delay in exercising any right, power or privilege under these Terms shall</span></div>
<div style="position:absolute;left:74.67px;top:331.52px" class="cls_003"><span class="cls_003">not operate as a waiver thereof.</span></div>
<div style="position:absolute;left:74.67px;top:348.69px" class="cls_003"><span class="cls_003">The invalidity or unenforceability of any of these Terms shall not affect the validity or</span></div>
<div style="position:absolute;left:74.67px;top:365.87px" class="cls_003"><span class="cls_003">enforceability of any other of these Terms, all of which shall remain in full force and</span></div>
<div style="position:absolute;left:74.67px;top:383.04px" class="cls_003"><span class="cls_003">effect.</span></div>
<div style="position:absolute;left:74.67px;top:400.21px" class="cls_003"><span class="cls_003">You may not assign or transfer any of your rights or obligations under these Terms</span></div>
<div style="position:absolute;left:74.67px;top:417.39px" class="cls_003"><span class="cls_003">without prior written consent from morphex, including by operation of law or in</span></div>
<div style="position:absolute;left:74.67px;top:434.56px" class="cls_003"><span class="cls_003">connection with any change of control. morphex may assign or transfer any or all of its</span></div>
<div style="position:absolute;left:74.67px;top:451.73px" class="cls_003"><span class="cls_003">rights under these Terms, in whole or in part, without obtaining your consent or</span></div>
<div style="position:absolute;left:74.67px;top:468.91px" class="cls_003"><span class="cls_003">approval.</span></div>
</div>

</body>
</html>
